# Server Configuration
PORT=8900

# Email Configuration for AR Finanzberatung
AR_SMTP_SERVICE=Gmail
AR_SMTP_HOST=smtp.gmail.com
AR_SMTP_PORT=587
AR_SMTP_SECURE=true
AR_SMTP_USER=your_email@gmail.com
AR_SMTP_PASS=your_app_password
AR_RECIPIENT_EMAIL=recipient@example.com

# Email Configuration for Lemon Projects
LEMON_SMTP_SERVICE=Gmail
LEMON_SMTP_HOST=smtp.gmail.com
LEMON_SMTP_PORT=587
LEMON_SMTP_SECURE=true
LEMON_SMTP_USER=your_second_email@gmail.com
LEMON_SMTP_PASS=your_second_app_password
LEMON_RECIPIENT_EMAIL=second_recipient@example.com